/* importiamo il file scss common dalla cartella partial */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.header-container ul {
  display: flex;
}
.header-container ul li {
  list-style-type: none;
  padding: 10px;
}
.header-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.header-container ul li a:active, .header-container ul li a.active {
  color: rgb(4, 84, 189);
  border-bottom: 2px solid rgb(4, 84, 189);
}

#my-jumbo-bg {
  margin-top: 2rem;
  height: 550px;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  background-position: top;
}

#my-container {
  background-image: url("/images/footer-bg.jpg");
}

#lists-footer-container {
  width: 70%;
  margin: 0 auto;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#lists-footer-container #links-footer {
  display: flex;
  justify-content: center;
  color: white;
  width: 50%;
}
#lists-footer-container #links-footer .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
#lists-footer-container #links-footer .link h4 {
  font-size: 1.4rem;
  font-weight: 800;
}
#lists-footer-container #links-footer .link ul li {
  list-style: none;
  padding: 0.2rem;
}
#lists-footer-container #links-footer .link ul li a {
  text-decoration: none;
  color: lightgrey;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
#lists-footer-container #links-footer .link ul li a:hover {
  color: white;
}
#lists-footer-container #bg-container {
  width: 50%;
  height: 100%;
}
#lists-footer-container #bg-container #img-footer {
  width: 100%;
  height: 100%;
  background-image: url("/images/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
}

#grey-container {
  background-color: rgb(145, 145, 145);
}

#my-btn {
  border: solid 2px rgb(4, 84, 189);
  padding: 8px;
  margin-left: 20px;
}
#my-btn a {
  text-decoration: none;
  color: white;
}

#social-footer-container {
  width: 70%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#icons-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: rgb(4, 84, 189);
}
#icons-social-container .social-icon {
  margin-left: 1rem;
}

.my-container {
  background-color: rgb(4, 84, 189);
}

#icones-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 150px;
}
#icones-container div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: white;
}
#icones-container div img {
  width: 25%;
  margin-right: 10px;
}

#content-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}
#content-container #my-btn {
  margin-top: 10px;
  border: 2px solid rgb(4, 84, 189);
  padding: 15px;
  background-color: rgb(4, 84, 189);
}
#content-container #my-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
#content-container #my-btn a {
  text-decoration: none;
  color: white;
}
#content-container .my-scheda {
  width: 15.2%;
  height: 100%;
  /* background-color: aqua; */
  flex-direction: column;
  display: flex;
  padding: 1%;
}
#content-container .my-scheda a:hover {
  color: rgb(4, 84, 189);
}
#content-container .my-scheda a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
#content-container .my-scheda a h3 {
  font-size: 1rem;
}
#content-container .my-scheda .img-scheda-container {
  width: 100%;
  height: 100%;
}
#content-container .my-scheda .img-scheda-container img {
  width: 100%;
  height: 100%;
}
#content-container .my-special-container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}