/* importiamo il file scss common dalla cartella partial */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.header-container ul {
  display: flex;
}
.header-container ul li {
  list-style-type: none;
  padding: 10px;
}
.header-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.header-container ul li a:active, .header-container ul li a.active {
  color: rgb(4, 84, 189);
  border-bottom: 2px solid rgb(4, 84, 189);
}

#my-jumbo-bg {
  margin-top: 2rem;
  height: 550px;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  background-position: top;
}

#my-container {
  background-image: url("/images/footer-bg.jpg");
}

#lists-footer-container {
  width: 70%;
  margin: 0 auto;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#lists-footer-container #links-footer {
  display: flex;
  justify-content: center;
  color: white;
  width: 50%;
}
#lists-footer-container #links-footer .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
#lists-footer-container #links-footer .link h4 {
  font-size: 1.4rem;
  font-weight: 800;
}
#lists-footer-container #links-footer .link ul li {
  list-style: none;
  padding: 0.2rem;
}
#lists-footer-container #links-footer .link ul li a {
  text-decoration: none;
  color: lightgrey;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
#lists-footer-container #links-footer .link ul li a:hover {
  color: white;
}
#lists-footer-container #bg-container {
  width: 50%;
  height: 100%;
}
#lists-footer-container #bg-container #img-footer {
  width: 100%;
  height: 100%;
  background-image: url("/images/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
}

#grey-container {
  background-color: rgb(145, 145, 145);
}

#my-btn {
  border: solid 2px rgb(4, 84, 189);
  padding: 8px;
  margin-left: 20px;
}
#my-btn a {
  text-decoration: none;
  color: white;
}

#social-footer-container {
  width: 70%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#icons-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: rgb(4, 84, 189);
}
#icons-social-container .social-icon {
  margin-left: 1rem;
}

.my-container {
  background-color: rgb(4, 84, 189);
}

#icones-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 150px;
}
#icones-container div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: white;
}
#icones-container div img {
  width: 25%;
  margin-right: 10px;
}

#content-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}
#content-container #my-btn {
  margin-top: 10px;
  border: 2px solid rgb(4, 84, 189);
  padding: 15px;
  background-color: rgb(4, 84, 189);
}
#content-container #my-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
#content-container #my-btn a {
  text-decoration: none;
  color: white;
}
#content-container .my-scheda {
  width: 15.2%;
  height: 100%;
  /* background-color: aqua; */
  flex-direction: column;
  display: flex;
  padding: 1%;
}
#content-container .my-scheda a:hover {
  color: rgb(4, 84, 189);
}
#content-container .my-scheda a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
#content-container .my-scheda a h3 {
  font-size: 1rem;
}
#content-container .my-scheda .img-scheda-container {
  width: 100%;
  height: 100%;
}
#content-container .my-scheda .img-scheda-container img {
  width: 100%;
  height: 100%;
}
#content-container .my-special-container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.single-card-container {
  margin-bottom: 100px;
}
.single-card-container .blue-space {
  width: 100%;
  height: 100px;
  background-color: rgb(4, 84, 189);
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.single-card-container .blue-space .card-img {
  width: 60%;
  margin: 0 auto;
}
.single-card-container .blue-space .card-img img {
  padding-bottom: 200px;
}
.single-card-container .info-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
}
.single-card-container .info-container .info {
  width: 60%;
}
.single-card-container .info-container .info h1 {
  font-size: 40px;
}
.single-card-container .info-container .info .desciprion {
  font-size: 1.6rem;
  margin-top: 10px;
}
.single-card-container .info-container .info .price-container {
  display: flex;
  justify-content: space-between;
  background-color: green;
  margin-top: 10px;
}
.single-card-container .info-container .info .price-container .color-grey {
  color: gray;
}
.single-card-container .info-container .info .price-container .color-white {
  color: white;
}
.single-card-container .info-container .info .price-container .price {
  border-right: 1px solid lightgrey;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 10px;
}
.single-card-container .info-container .info .price-container .check {
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  padding: 10px;
  text-align: center;
}
.single-card-container .info-container .img-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.single-card-container .info-container .img-info .short-description {
  display: flex;
  justify-content: flex-end;
}
.single-card-container .info-container .img-info .short-description p {
  font-size: 1.2rem;
}
.single-card-container .info-container .img-info .img-container {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: flex-end;
}
.single-card-container .info-container .img-info .img-container img {
  width: 80%;
}

.info-author-container {
  padding: 20px 0px 200px 0px;
  width: 100%;
  background-color: lightgrey;
  border: 1px solid grey;
}
.info-author-container .big-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.info-author-container .big-container .color-blue {
  color: rgb(0, 0, 255);
}
.info-author-container .big-container .talent {
  width: 56%;
  display: flex;
  flex-direction: column;
}
.info-author-container .big-container .talent div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 20px;
  font-size: 1.5rem;
}
.info-author-container .big-container .spects {
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.info-author-container .big-container .spects div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 20px;
  font-size: 1.5rem;
}

.option-container {
  width: 100%;
  height: 100px;
  background-color: lightgray;
  border: 1px solid grey;
}
.option-container .options {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.option-container .options div {
  width: 25%;
  height: 100%;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.option-container .options div div {
  border: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}