/* importiamo il file scss common dalla cartella partial */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.header-container ul {
  display: flex;
}
.header-container ul li {
  list-style-type: none;
  padding: 10px;
}
.header-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.header-container ul li a:active, .header-container ul li a.active {
  color: rgb(4, 84, 189);
  border-bottom: 2px solid rgb(4, 84, 189);
}

#my-jumbo-bg {
  margin-top: 2rem;
  height: 600px;
  background-image: url("/images/infinite-frontier-dc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}