.single-card-container{

    margin-bottom: 100px;
    .blue-space{
        width: 100%;
        height: 100px;
        background-color: rgb(4, 84, 189);
        margin-bottom: 50px;
    }

        .info-container{
            width: 60%;
            margin: 0 auto;
            display: flex;

                .info{
                    width: 60%;

                      h1{
                          font-size: 40px;
                      }

                      .desciprion{
                         font-size: 1.6rem;
                         margin-top: 10px;
                      }

                      .price-container{
                          display: flex;
                          justify-content: space-between;
                          background-color: green;
                          margin-top: 10px;
                          .color-grey{
                              color: gray;
                          }
                          .color-white{
                              color: white;
                          }
                            
                            .price{
                                border-right: 1px solid lightgrey;
                                width: 70%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 1.4rem;
                                padding: 10px;
                                    
                            }
                            .check{
                                width: 40%;
                                height: 100%;
                                align-items: center;
                                justify-content: center;
                                font-size: 1.4rem;
                                padding: 10px;
                                text-align: center;
                            }
                      }
                     
                       
                }
                .img-info{
                    width: 40%;
                    display: flex;
                    flex-direction: column;

                        .short-description{
                            display: flex;
                            justify-content: flex-end;
                                p{
                                    font-size: 1.2rem;
                                }
                        }

                        .img-container{
                            width: 100%;
                            height: 350px;
                            display: flex;
                            justify-content: flex-end;
                            
                
                                img{
                                    width: 80%;
                                }
                        }
                }
        }

}

.info-author-container{
    padding: 20px 0px 200px 0px;
    width: 100%;
    background-color: lightgrey;
    border: 1px solid grey;
        .big-container{
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .color-blue{
                color: rgb(0, 0, 255);
            }
                .talent{
                    width: 56%;
                    display: flex;
                    flex-direction: column;
                        div{
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid grey;
                            padding: 10px;
                            font-size: 1.5rem;
                        }
                       
                }
                .spects{
                    width: 40%;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                        div{
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid grey;
                            padding: 10px;
                            font-size: 1.5rem;
                        }
                }
        }
}

.option-container{
    width: 100%;
    height: 100px;
    background-color: lightgray;
    border: 1px solid grey;
        .options{
            width: 60%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;

                div{
                    width: 25%;
                    height: 100%;
                    border-right: 1px solid grey;
                    border-left: 1px solid grey;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                        div{
                            border: none;
                            display: flex;
                            justify-content: space-between;
                            width: 50%;
                        }
                }
        }
}
