//
/* importiamo il file scss common dalla cartella partial */
@import "partials/header";
@import "partials/footer";
@import "partials/pre-footer";
@import "partials/main-content";
@import "partials/single-card";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}