//
/* importiamo il file scss common dalla cartella partial */
@import "partials/header";
@import "partials/footer";
@import "partials/pre-footer";
@import "partials/main-content";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}